

#top {
      height: 70px; 
      position: relative; 
      z-index: 100; 
      width: 100%; 
      font-size: 16px;
}
#top .headercontent {
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
    max-width: 1024px;
}
@media screen and (max-width : 1060px){
	#top .headercontent {width: 100%;}
}

#siteName {z-index: 1001; 
           top: 0; 
           left: 0; 
           margin: 0; 
           position: absolute; 
           width: 130px;
        }
#siteName img {width: 100%;}
@media screen and (max-width : 1060px){
    #siteName {z-index: 20; 
               text-align: center; 
               width: 100%;
            }
    #siteName img {width: 145px; 
                   vertical-align: top; 
                   padding: 17px; 
                   border: 0;
                }
}

#headernav h1 {display: none;}
@media screen and (max-width : 1060px){
	#headernav {z-index: 1001;}
    #headernav h1 {display: block; 
                   background: url(img/menu_b.png) no-repeat center center; 
                   text-indent: -9999px; 
                   background-size: 20px 15px; 
                   position: absolute; 
                   top: 5px; left: 0; 
                   padding: 27px; 
                   margin: 0 0 0 3.5%; 
                   cursor: pointer; 
                   width: 20px; 
                   height: 15px; 
                   z-index: 1001;
                }
}
@media screen and (max-width : 480px){
	#headernav h1 {margin-left: 2%;}
}

#headernav .wrapper {
    display: block; 
    background: none; 
    height: auto; 
    width: 100%; 
    padding: 0;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
}

@media screen and (max-width : 1060px){
    #top .wrapper {background: rgba(0,0,0,.8); 
                   position: fixed; 
                   z-index: 1000; 
                   width: 100%; 
                   height: 100%; 
                   color: #fff; 
                   font-size: 16px; 
                   padding: 0; 
                   box-sizing: border-box; 
                   display: none;
                }
}

#top .wrapper ul {padding-left: 15%; 
                  margin: 0;
                }
#top .wrapper li {list-style: none; 
                  float: left; 
                  font-size: 13px; 
                  padding: 28px 10px; 
                  line-height: 1;
                }

#top .wrapper li a {border: 0; 
                    display: block;
                }
.ua-ie-8 #top .wrapper li a,
.ua-ie-9 #top .wrapper li a {font-weight: bold;}
#top .wrapper li a:hover {color: #999;}
#top .cancel {display: none;}

@media screen and (max-width : 1060px){
	#top .wrapper ul {padding: 0;}
    #top .wrapper li {float: none; 
                      font-size: 16px; 
                      padding: 0; 
                      text-align: center;
                    }
    #top .wrapper li a {padding: 12px 20px; 
                        color: #fff;
                    }
    #top .cancel {display: block; 
                  text-align: right; 
                  padding: 18px 18px 0;
                    }
    }

    .pic{
        width: 100%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 10px;
        margin-right: 10px;
        margin-left: 10px;
        }
    .more{
        width: 170%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
    }

    .word{
        width: 25%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin-left: 10px;
    }

    .word2{
        width: 21%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin-left: 10px;
    }

    .word3{
        width: 89%;
        height: auto;
        display:  flex;
        align-items: row;
        justify-content:  center;
    }

    .pic2{
        width: 90%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 10px;
        }

    .pic3{
        width: 20%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 10px;
        }

    .pic4{
        width: 100%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 10px;
        }

    .pic5{
        width: 96%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin: 10px;
        }

    #main {
        padding-bottom: 300px;
        }

    #footer {
        height: 300px;
        position: static;
        margin-top: -300px;
        background-color: black;
	    padding:0; 
        }
    
    .word4{
        width: 76%;
        height: auto;
        display:  flex;
        align-items: row;
        justify-content:  center;
        padding-top: 20px;
        }
    
    .line{
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .word5{
        width: 100%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin-left: 10px;
    }
    
    .word6{
        width: 30%;
        height: auto;
        display:  flex;
        align-items: center;
        justify-content:  center;
        margin-left: 10px;
    }

    a {
        text-decoration:none;
        
    }

    img{
        display: block;
    }

    